html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #008080;
    font-family: "Quicksand", serif;
}

button {
    padding: 20px;
    background-color: #84c1c1;
    box-shadow: 0 2.5px 10px;
    border: none;
    border-radius: 50px;
    font-family: "Quicksand", serif;
    font-size: 1em;
    transition: box-shadow .2s, transform .2s;
}

button:hover {
    box-shadow: 0 2.5px 10px slategrey;
}

button:active {
    box-shadow: 0 2.5px 10px silver;
    transform: translateY(2px);
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto 0 auto;
    width: 40%;
    min-width: 350px;
    background-color: #84c1c1;
    box-shadow: 0 5px 10px;
}

#top-container {
    height: 50%;
}

#icon {
    margin: 50px;
    width: 200px;
    height: 200px;
}

#c1 {
    position: relative;
    z-index: 3;
    transform: translate(40px, -25px);
    animation: shake 2s alternate infinite ease-in-out;
    transition: opacity 0.5s linear, visibility .5s linear;
}

#c2 {
    position: relative;
    z-index: 1;
    transform: translate(100px, -150px);
    animation: shake 3s alternate infinite ease-in-out;
    transition: opacity 0.5s linear, visibility .5s linear;
}

#c3 {
    position: relative;
    z-index: 3;
    transform: translate3d(-30px, -145px, 0);
    animation: shake 3.5s alternate infinite ease-in-out;
    transition: opacity 0.5s linear, visibility .5s linear;
}

#d1 {
    transform: translate(25px, -2px);
    animation-delay: 1.5s;
}

#d2 {
    transform: translate(45px, -2px);
    animation-delay: .7s;
}

#d3 {
    transform: translate(78px, -2px);
    animation-delay: .4;
}

#location {
    margin: 20px auto;
    font-size: 2em;
    text-shadow: 0px -4px 4px dimgray;
    transition: text-shadow 1s;
}

#weather-condition {
    position: relative;
    top: -50px;
    font-size: 1.8em;
    text-align: center;
    text-shadow: 0px 4px 4px dimgray;
    transition: text-shadow 1s;
    text-transform: capitalize;
}

#temperature {
    position: relative;
    top: -50px;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0px 4px 4px dimgray;
    transition: text-shadow 1s;
}

#inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.sun {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    z-index: 2;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(yellow), to(orange));
    background-image: -webkit-linear-gradient(top, yellow, orange);
    background-image: -moz-linear-gradient(top, yellow, orange);
    background-image: linear-gradient(to bottom, yellow, orange);
    animation: shimmer 3s infinite alternate;
    transition: opacity 0.5s, visibility linear 0.5s;
}

@keyframes shimmer {
    0% {
        box-shadow: 0px 0px 100px 10px yellow;
    }
    70% {
        box-shadow: 0px 0px 150px 15px gold;
    }
    100% {
        box-shadow: 0px 0px 50px 10px yellow;
    }
}

.cloud {
    width: 100px;
    height: 30px;
    background: #fff;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    position: relative;
    transition: opacity 0.5s linear, visibility linear 0.5s;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 50px;
    height: 40px;
    position: absolute;
    top: -7px;
    left: 5px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .1);
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 60px;
    height: 60px;
    top: -24px;
    left: auto;
    right: 7px;
}

.drops {
    position: relative;
    transition: visibility .5s, opacity .5s, background-color .5s, width .5s, animation-duration 1s;
    z-index: -1;
    animation: fall .8s ease-in infinite;
}

.snow {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: white;
}

.rain {
    width: 1px;
    height: 10px;
    background-color: white;
    border-radius: 25%;
}

@keyframes shake {
    0% {
        left: -10px;
    }
    100% {
        left: 10px;
    }
}

@keyframes fall {
    0% {
        top: 0px;
    }
    100% {
        top: 200px;
    }
}

@keyframes lightning {
    0% {
        box-shadow: 0 0 25px 10px rgba(237, 200, 17, 1);
    }
    20% {
        box-shadow: 0 0 25px 10px rgba(17, 87, 237, 1);
    }
    30%,
    100% {
        box-shadow: 0 0 25px 10px rgba(0, 0, 0, .1);
    }
}